*:not(.details-fs):has(.details-fs[open]) {
  overflow: hidden;
}

.details-fs[open] {
  --base-inset: 1rem;
  --close-button-height: 2.5rem;

  --width: clamp(0, 100vw, var(--page-max-width));
  --padding: 1rem;

  --details-gutter: clamp(
    var(--base-inset),
    calc((100vw - var(--page-max-width)) / 2),
    100vw
  );

  position: fixed;
  inset: var(--base-inset);
  left: var(--details-gutter);
  right: var(--details-gutter);

  margin: auto 0;
  padding: var(--padding);

  overflow: hidden;

  z-index: 10000;
}

.details-fs[open]::details-content {
  max-height: 100%;

  overflow: hidden;
  overflow-y: auto;
}

.details-fs[open]:before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 100%;

  border-radius: 0.5rem;
  background: var(--color-page-bg);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);

  z-index: -10;
}

.details-fs[open]:after {
  content: "";

  position: fixed;
  inset: 0;

  background: rgb(0 0 0 / 0.4);

  backdrop-filter: blur(5px);
  z-index: -20;
}

.details-fs[open] > summary {
  position: absolute;
  top: var(--padding);
  left: calc(100% - var(--close-button-height) - var(--padding));

  width: 0;
  height: 0;

  padding: calc(var(--close-button-height) / 2);
  margin-bottom: 0.5rem;

  border-radius: 0.25rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  color: transparent;
  background: var(--color-page-bg);

  transition: background 200ms ease;
}

.details-fs[open] > summary:before {
  content: "✕";

  position: absolute;
  top: 50%;
  left: 50%;

  margin: 0;

  color: var(--black);
  font-size: 1.5rem;

  translate: -50% -50%;
}

.details-fs[open] > summary * {
  width: 0;
  height: 0;
  pointer-events: none;
}

.details-fs[open] > summary:hover {
  background: var(--neutral-100);
}
