.header__inner {
  display: flex;
  flex-direction: column;

  width: clamp(0px, 100%, var(--page-max-width));
  margin: 0 auto;
}

.header__cta {
  align-self: end;

  padding: 0.25rem 0;

  text-decoration: none;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.nav-bar__title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0.5rem;
  color: var(--primary-900);
}

.nav-bar__track {
  display: flex;
  flex-direction: column;
}

.nav-bar__list {
  --link-padding-x: 0.5rem;
  --link-padding-y: 0.75rem;

  display: flex;
  flex-direction: row;

  justify-content: space-around;
  justify-self: center;

  padding: 0;
}

.nav-bar__item {
  --trans-hover-duration: 500ms;

  position: relative;

  padding: var(--link-padding-y) var(--link-padding-x);
  border-radius: 0.25rem;

  list-style: none;

  cursor: pointer;

  transition:
    box-shadow var(--trans-hover-duration) ease,
    translate var(--trans-hover-duration) ease;
}

.nav-bar__item:after {
  --trim-width-less: 2rem;
  --trim-height: 2px;

  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  width: calc(100% - var(--trim-width-less));
  height: var(--trim-height);

  translate: calc(var(--trim-width-less) * 0.5) calc(var(--trim-height) / 2);

  transition: background 500ms ease-in-out;
}

.nav-bar__item:hover,
.nav-bar__item:focus-within {
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);

  translate: 0 -0.125rem;
}

.nav-bar__item:hover:after,
.nav-bar__item:focus-within:after {
  background-color: var(--primary-900);
}

.nav-bar__link {
  text-decoration: none;
}

@media (min-width: 64em) {
  .nav-bar {
    flex-direction: row;
    gap: 2rem;
  }

  .nav-bar__title {
    justify-self: right;
  }

  .nav-bar__container {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }

  .nav-bar__list {
    --link-padding-x: 2rem;
    justify-content: center;
  }
}
