/* Draggable elements */

.dragBox {
  position: absolute;
  top: 40px;
  left: 40px;
  cursor: move;
  overflow: hidden;
}

.dragHeader {
  cursor: move;
}

.blinkText {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.seizureBackground {
  animation: seizureLite 1s linear infinite;
}

/* Intentionally awful */
@keyframes seizureLite {
  0% {
    background: red;
  }
  7% {
    background: lime;
  }
  22% {
    background: magenta;
  }
  31% {
    background: cyan;
  }
  58% {
    background: yellow;
  }
  76% {
    background: blue;
  }
  100% {
    background: red;
  }
}

#popupOneHeader {
  cursor: move;
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1));
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

#popupOneBox {
  position: absolute;
  z-index: 1000;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1));
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(var(--game-scale));
  transform-origin: center;
}

.exit-btn {
  position: absolute;
  top: -0.1rem;
  right: 0.3rem;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

.exit-btn:hover {
  opacity: 0.8;
}
