.article-group {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}

.article-group__heading {
  width: 100%;

  padding-bottom: 0.5rem;
  border-bottom: 1px var(--primary-800) solid;

  font-size: 1.75em;

  background: linear-gradient(
    90deg in lch,
    transparent 80%,
    var(--primary-800)
  );
}

.article-group ~ .article-group > .article-group__heading {
  font-size: 1.5em;
}

.article-container {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.article-list__wrapper {
  /* place-content: center; */
  flex-grow: 0;
}

.article-list {
  display: flex;
  flex-wrap: wrap;

  gap: 0.5rem;

  height: min-content;
}

.article-list > * {
  flex-grow: 1;
  aspect-ratio: 6/5;
}

@media (min-width: 64em) {
  .article-group:nth-child(even of .article-group)
    .article-container
    > :first-child {
    order: 2;
  }

  .article-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .article-list {
    margin-top: 0px;
    margin-left: 0px;
  }

  .article-list > * {
    flex-basis: 33%;
  }
}
