@import "./colours.css";
@import "./utilities/normalize.css";
@import "./utilities/icons.css";
@import "./utilities/utils.css";
@import "./layout.css";

@font-face {
  font-family: PlayfairDisplay;
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-variable.ttf);
}

* {
  font-family: PlayfairDisplay;
}

:root {
  --page-horizontal-padding: 0.5rem;
  --main-vertical-padding: 1rem;

  --page-max-width: 72em;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;

  background: var(--color-chrome-bg);

  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

header,
main,
footer {
  padding-left: var(--page-horizontal-padding);
  padding-right: var(--page-horizontal-padding);
}

header,
footer {
  background: var(--color-chrome-bg);
}

header {
  grid-area: header;
}

main {
  grid-area: main;

  padding-top: var(--main-vertical-padding);
  padding-bottom: var(--main-vertical-padding);

  background: var(--color-page-bg);
}

.main__inner {
  width: clamp(0px, 100%, var(--page-max-width));
  margin: 0 auto;
}

footer {
  grid-area: footer;
}

a {
  color: var(--black);
}

ul {
  margin: 0;
}
