.main__content {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}

/* Helpers */
.aside--extras {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;

  pointer-events: none;
  isolation: isolate;
}

.aside--extras > * {
  pointer-events: auto;
}

/* Column Layouts */
.main--two-column {
  --main--two-column-padding: 1rem;
}

.main--two-column > :not(:first-child) {
  display: none;
}

@media (min-width: 64em) {
  .main--two-column {
    display: flex;

    gap: var(--main--two-column-padding);
  }

  .main--two-column > :not(:first-child) {
    display: inherit;
  }

  .main--two-column > :first-child {
    flex-basis: 80%;
    flex-grow: 1;
  }

  .main--two-column > :nth-child(2) {
    position: relative;

    padding: 0 0 0 var(--main--two-column-padding);
    flex-basis: auto;

    flex-grow: 0;
    flex-shrink: 1;
  }

  .main--two-column > :nth-child(2):after {
    content: "";

    position: absolute;
    inset: 10vh 0 10vh 0;

    border-left-color: var(--neutral-200);
    border-left-width: 1px;
    border-left-style: solid;
  }
}
