.footer {
  padding: 0 1rem;
}

.footer-inner {
  display: grid;
  grid-template-areas:
    "slogan slogan"
    "social links"
    "copyright copyright";

  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr auto;

  width: clamp(300px, 100%, 800px);

  margin: 0 auto;
}

.footer__slogan {
  position: relative;
  grid-area: slogan;

  justify-self: center;

  font-style: italic;
}

.footer__slogan::after {
  content: "";

  position: absolute;
  bottom: -0.5rem;
  left: 0;

  width: 100%;
  height: 2px;

  scale: 75% 100%;

  background: var(--color-gray-900);
  opacity: 50%;
}

.footer__socials {
  display: grid;

  grid-area: social;
}

.footer__links {
  display: grid;

  grid-template-columns: 1fr 1fr;

  grid-area: links;
}

.footer__socials,
.footer__links {
  gap: 0 1rem;
}

.footer__copyright {
  grid-area: copyright;

  justify-self: center;
}
