:root {
  /* Colour Contexts */
  --color-page-bg: var(--white);
  --color-alt: var(--neutral-100);
  --color-text: var(--black);
  --color-chrome-bg: var(--color-alt);

  /* Palette */
  --white: var(--neutral-50);
  --black: var(--neutral-900);

  --primary-50: #effcf6;
  --primary-100: #c6f7e2;
  --primary-200: #8eedc7;
  --primary-300: #65d6ad;
  --primary-400: #3ebd93;
  --primary-500: #27ab83;
  --primary-600: #199473;
  --primary-700: #147d64;
  --primary-800: #0c6b58;
  --primary-900: #014d40;

  --secondary-50: var(--alpha-50);
  --secondary-100: var(--alpha-100);
  --secondary-200: var(--alpha-200);
  --secondary-300: var(--alpha-300);
  --secondary-400: var(--alpha-400);
  --secondary-500: var(--alpha-500);
  --secondary-600: var(--alpha-600);
  --secondary-700: var(--alpha-700);
  --secondary-800: var(--alpha-800);
  --secondary-900: var(--alpha-900);

  /* Neutrals */
  --neutral-50: #f0f4f8;
  --neutral-100: #d9e2ec;
  --neutral-200: #bcccdc;
  --neutral-300: #9fb3c8;
  --neutral-400: #829ab1;
  --neutral-500: #627d98;
  --neutral-600: #486581;
  --neutral-700: #334e68;
  --neutral-800: #243b53;
  --neutral-900: #102a43;

  /* Supporting */
  --alpha-50: #dceefb;
  --alpha-100: #b6e0fe;
  --alpha-200: #84c5f4;
  --alpha-300: #62b0e8;
  --alpha-400: #4098d7;
  --alpha-500: #2680c2;
  --alpha-600: #186faf;
  --alpha-700: #0f609b;
  --alpha-800: #0a558c;
  --alpha-900: #003e6b;

  --beta-50: #eae2f8;
  --beta-100: #cfbcf2;
  --beta-200: #a081d9;
  --beta-300: #8662c7;
  --beta-400: #724bb7;
  --beta-500: #653cad;
  --beta-600: #51279b;
  --beta-700: #421987;
  --beta-800: #34126f;
  --beta-900: #240754;

  --gamma-50: #ffeeee;
  --gamma-100: #facdcd;
  --gamma-200: #f29b9b;
  --gamma-300: #e66a6a;
  --gamma-400: #d64545;
  --gamma-500: #ba2525;
  --gamma-600: #a61b1b;
  --gamma-700: #911111;
  --gamma-800: #780a0a;
  --gamma-900: #610404;

  --delta-50: #fffaeb;
  --delta-100: #fcefc7;
  --delta-200: #f8e3a3;
  --delta-300: #f9da8b;
  --delta-400: #f7d070;
  --delta-500: #e9b949;
  --delta-600: #c99a2e;
  --delta-700: #a27c1a;
  --delta-800: #7c5e10;
  --delta-900: #513c06;
}
